<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Burada arayın"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

      <ion-button (click)="loadMap()" expand="block" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
          Konumunuz
        </ion-button>

</ion-header>
<ion-content> 
  <div class="map-wrapper" style="height: 80%;">      
    <div id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>      
    </div>
    <div #map id="map"  style="height: 100%;"></div>
  </div>      
  <ion-button (click)="ShowCords()" expand="block" color="danger"fill="solid">Lokasyon Göster</ion-button> 
</ion-content>